In [1]:
import pandas as pd
import matplotlib as mb
import numpy as np 
import datetime

In [2]:
fraser_data_19962007 = pd.read_csv(r'C:\Users\MJHATA\OneDrive - Denver Water\Documents\Python Scripts\fraser_19962007.csv')
fraser_data_20072014 = pd.read_csv(r'C:\Users\MJHATA\OneDrive - Denver Water\Documents\Python Scripts\fraser_20072014.csv')
fraser_data_20142021 = pd.read_csv(r'C:\Users\MJHATA\OneDrive - Denver Water\Documents\Python Scripts\fraser_20142021.csv')

In [3]:
fraser_data_19962007

                      DATE CODE         BYPASS_NAME IRRIGATION SPILL FISH
0      1996-01-01 00:00:00   FR         BIG VASQUEZ          0     0    3
1      1996-01-01 00:00:00   FR         CABIN CREEK          0     0    2
2      1996-01-01 00:00:00   FR  DENVER WATER TOTAL          0     0    3
3      1996-01-01 00:00:00   FR           ELK CREEK  in system     0    0
4      1996-01-01 00:00:00   FR        FRASER RIVER          0     0    4
...                    ...  ...                 ...        ...   ...  ...
57362  2007-03-31 00:00:00   FR        MEADOW CREEK        NaN   NaN    1
57363  2007-03-31 00:00:00   FR         RANCH CREEK        NaN   NaN    2
57364  2007-03-31 00:00:00   FR      ST LOUIS CREEK        NaN   NaN    4
57365  2007-03-31 00:00:00   FR         TRAIL CREEK        NaN   NaN    1
57366  2007-03-31 00:00:00   FR    USGS DAILY TOTAL          1     0   13

[57367 rows x 6 columns]

In [4]:
frames = [fraser_data_19962007, fraser_data_20072014, fraser_data_20142021]
result_df = pd.concat(frames)

In [5]:
result_df = result_df[result_df.BYPASS_NAME != 'DENVER WATER TOTAL']
result_df = result_df[result_df.BYPASS_NAME != 'USGS DAILY TOTAL']

## Big Vasquez

In [6]:
bypass_list = ['bypassed','bp','bupassed','by passed','byassed','byp[assed','bypaassed','bypaqssed','bypass','bypassd','bypassede','bypassedf','bypasseds','bypasseed','bypasses','bypasssed','bypsassed','dypassed','pypassed','Bypassed','b','by','bybass','ypass','b ypassed','ed']
in_system_list = ['in  system','in system','insysteem','insysten','insystyem','system']
frozen_list = ['frozen']

big_vasquez = result_df.loc[result_df['BYPASS_NAME'] == 'BIG VASQUEZ']
big_vasquez = big_vasquez.fillna(0)

In [7]:
big_vasquez['DATE'] = pd.to_datetime(big_vasquez['DATE'])

In [8]:
big_vasquez

            DATE CODE  BYPASS_NAME IRRIGATION SPILL FISH
0     1996-01-01   FR  BIG VASQUEZ          0     0    3
14    1996-01-02   FR  BIG VASQUEZ          0     0    3
28    1996-01-03   FR  BIG VASQUEZ          0     0    3
42    1996-01-04   FR  BIG VASQUEZ          0     0    3
56    1996-01-05   FR  BIG VASQUEZ          0     0    3
...          ...  ...          ...        ...   ...  ...
35616 2021-03-28   FR  BIG VASQUEZ          0     0    3
35630 2021-03-29   FR  BIG VASQUEZ          0     0    3
35644 2021-03-30   FR  BIG VASQUEZ          0     0    3
35658 2021-03-31   FR  BIG VASQUEZ          0     0    3
35672 2021-04-01   FR  BIG VASQUEZ          0     0    3

[9107 rows x 6 columns]

In [9]:
big_vasquez['MM-DD'] = big_vasquez['DATE'].dt.strftime('%m-%d')

In [10]:
big_vasquez['MM-DD'] = pd.to_datetime(big_vasquez['MM-DD'],errors = 'coerce')

In [11]:
timeframe = ['05-15','05-16','05-17','05-18','05-19','05-20','05-21','05-22','05-23','05-24','05-25','05-26','05-27','05-28','05-29','05-30','05-31','06-01','06-02','06-03','06-04','06-05','06-06','06-07','06-08','06-09','06-10','06-11','06-12','06-13','06-14','06-15','06-16','06-17','06-18','06-19','06-20','06-21','06-22','06-23','06-24','06-25','06-26','06-27','06-28','06-29','06-30','07-01','07-02','07-03','07-04','07-05','07-06','07-07','07-08','07-09','07-10','07-11','07-12','07-13','07-14','07-15','07-16','07-17','07-18','07-19','07-20','07-21','07-22','07-23','07-24','07-25','07-26','07-27','07-28','07-29','07-30','07-31','08-01','08-02','08-03','08-04','08-05','08-06','08-07','08-08','08-09','08-10','08-11','08-12','08-13','08-14','08-15','08-16','08-17','08-18','08-19','08-20','08-21','08-22','08-23','08-24','08-25','08-26','08-27','08-28','08-29','08-31','09-01','09-02','09-03','09-04','09-05','09-06','09-07','09-08','09-09','09-10','09-11','09-12','09-13','09-14','09-15']

In [12]:
# clearing up "bypass" values
big_vasquez['IRRIGATION'] = np.where((big_vasquez['IRRIGATION'].isin(bypass_list)) & (big_vasquez['MM-DD'].isin(timeframe)), '4', big_vasquez['IRRIGATION'])

In [13]:
big_vasquez.dtypes

DATE           datetime64[ns]
CODE                   object
BYPASS_NAME            object
IRRIGATION             object
SPILL                  object
FISH                   object
MM-DD          datetime64[ns]
dtype: object

In [14]:
big_vasquez.loc[big_vasquez['IRRIGATION'].isin(bypass_list)]

            DATE CODE  BYPASS_NAME IRRIGATION SPILL FISH MM-DD
1694  1996-05-01   FR  BIG VASQUEZ   bypassed     0    0   NaT
1708  1996-05-02   FR  BIG VASQUEZ   bypassed     0    0   NaT
1722  1996-05-03   FR  BIG VASQUEZ   bypassed     0    0   NaT
1736  1996-05-04   FR  BIG VASQUEZ   bypassed     0    0   NaT
1750  1996-05-05   FR  BIG VASQUEZ   bypassed     0    0   NaT
33647 2002-08-01   FR  BIG VASQUEZ   bypassed     0    0   NaT
33661 2002-08-02   FR  BIG VASQUEZ   bypassed     0    0   NaT
33675 2002-08-03   FR  BIG VASQUEZ   bypassed     0    0   NaT
33689 2002-08-04   FR  BIG VASQUEZ   bypassed     0    0   NaT
33703 2002-08-05   FR  BIG VASQUEZ   bypassed     0    0   NaT
33717 2002-08-06   FR  BIG VASQUEZ   bypassed     0    0   NaT
39569 2003-10-01   FR  BIG VASQUEZ   Bypassed     0    0   NaT

In [15]:
#irrigation bypasses
big_vasquez['IRRIGATION'] = np.where((big_vasquez['IRRIGATION'].isin(bypass_list)), '1.5', big_vasquez['IRRIGATION'])

# spill bypasses
big_vasquez['SPILL'] = np.where((big_vasquez['SPILL'].isin(bypass_list)) & (big_vasquez['MM-DD'].isin(timeframe)), '4', big_vasquez['SPILL'])
big_vasquez['SPILL'] = np.where((big_vasquez['SPILL'].isin(bypass_list)), '1.5', big_vasquez['SPILL'])

#fish bypasses
big_vasquez['FISH'] = np.where((big_vasquez['FISH'].isin(bypass_list)) & (big_vasquez['MM-DD'].isin(timeframe)), '4', big_vasquez['FISH'])
big_vasquez['FISH'] = np.where((big_vasquez['FISH'].isin(bypass_list)), '1.5', big_vasquez['FISH'])

In [16]:
#clear out "in system", set all to 0
big_vasquez['IRRIGATION'] = np.where((big_vasquez['IRRIGATION'].isin(in_system_list)), '0', big_vasquez['IRRIGATION'])
big_vasquez['SPILL'] = np.where((big_vasquez['SPILL'].isin(in_system_list)), '0', big_vasquez['SPILL'])
big_vasquez['FISH'] = np.where((big_vasquez['FISH'].isin(in_system_list)), '0', big_vasquez['FISH'])

#clear frozen entries, set to 0
big_vasquez['IRRIGATION'] = np.where((big_vasquez['IRRIGATION'].isin(frozen_list)), '0', big_vasquez['IRRIGATION'])
big_vasquez['SPILL'] = np.where((big_vasquez['SPILL'].isin(frozen_list)), '0', big_vasquez['SPILL'])
big_vasquez['FISH'] = np.where((big_vasquez['FISH'].isin(frozen_list)), '0', big_vasquez['FISH'])

## Little Vasquez

In [17]:
#little vasquez 
little_vasquez = result_df.loc[result_df['BYPASS_NAME'] == 'LITTLE VASQUEZ']

In [18]:
#fill in the random values with 0
little_vasquez = little_vasquez.fillna(0)

#setting each date as a "date" and set a MM-DD
little_vasquez['DATE'] = pd.to_datetime(little_vasquez['DATE'])
little_vasquez['MM-DD'] = little_vasquez['DATE'].dt.strftime('%m-%d')

In [19]:
# clear up the bypassed values
little_vasquez['IRRIGATION'] = np.where((little_vasquez['IRRIGATION'].isin(bypass_list)) & (little_vasquez['MM-DD'].isin(timeframe)), '4', little_vasquez['IRRIGATION'])

little_vasquez['SPILL'] = np.where((little_vasquez['SPILL'].isin(bypass_list)) & (little_vasquez['MM-DD'].isin(timeframe)), '4', little_vasquez['SPILL'])

little_vasquez['FISH'] = np.where((little_vasquez['FISH'].isin(bypass_list)) & (little_vasquez['MM-DD'].isin(timeframe)), '4', little_vasquez['FISH'])

In [20]:
#irrigation bypasses
little_vasquez['IRRIGATION'] = np.where((little_vasquez['IRRIGATION'].isin(bypass_list)), '1.5', little_vasquez['IRRIGATION'])

#spill bypasses
little_vasquez['SPILL'] = np.where((little_vasquez['SPILL'].isin(bypass_list)), '1.5', little_vasquez['SPILL'])

#fish bypasses
little_vasquez['FISH'] = np.where((little_vasquez['FISH'].isin(bypass_list)), '1.5', little_vasquez['FISH'])

In [21]:
#clear out "in system", set all to 0
little_vasquez['IRRIGATION'] = np.where((little_vasquez['IRRIGATION'].isin(in_system_list)), '0', little_vasquez['IRRIGATION'])
little_vasquez['SPILL'] = np.where((little_vasquez['SPILL'].isin(in_system_list)), '0', little_vasquez['SPILL'])
little_vasquez['FISH'] = np.where((little_vasquez['FISH'].isin(in_system_list)), '0', little_vasquez['FISH'])

#clear frozen entries, set to 0
little_vasquez['IRRIGATION'] = np.where((little_vasquez['IRRIGATION'].isin(frozen_list)), '0', little_vasquez['IRRIGATION'])
little_vasquez['SPILL'] = np.where((little_vasquez['SPILL'].isin(frozen_list)), '0', little_vasquez['SPILL'])
little_vasquez['FISH'] = np.where((little_vasquez['FISH'].isin(frozen_list)), '0', little_vasquez['FISH'])

In [22]:
little_vasquez

            DATE CODE     BYPASS_NAME IRRIGATION SPILL FISH  MM-DD
8     1996-01-01   FR  LITTLE VASQUEZ          1     0    0  01-01
22    1996-01-02   FR  LITTLE VASQUEZ          1     0    0  01-02
36    1996-01-03   FR  LITTLE VASQUEZ          1     0    0  01-03
50    1996-01-04   FR  LITTLE VASQUEZ          1     0    0  01-04
64    1996-01-05   FR  LITTLE VASQUEZ          1     0    0  01-05
...          ...  ...             ...        ...   ...  ...    ...
35624 2021-03-28   FR  LITTLE VASQUEZ          1     0    0  03-28
35638 2021-03-29   FR  LITTLE VASQUEZ          1     0    0  03-29
35652 2021-03-30   FR  LITTLE VASQUEZ          1     0    0  03-30
35666 2021-03-31   FR  LITTLE VASQUEZ          1     0    0  03-31
35680 2021-04-01   FR  LITTLE VASQUEZ          1     0    0  04-01

[9107 rows x 7 columns]

## Little Cabin Creek

In [23]:
#little cabin creek 
little_cc = result_df.loc[result_df['BYPASS_NAME'] == 'LITTLE CABIN CREEK']

In [24]:
#fill in the random values with 0
little_cc = little_cc.fillna(0)

#setting each date as a "date" and set a MM-DD
little_cc['DATE'] = pd.to_datetime(little_cc['DATE'])
little_cc['MM-DD'] = little_cc['DATE'].dt.strftime('%m-%d')

In [25]:
# clear up the bypassed values
little_cc['IRRIGATION'] = np.where((little_cc['IRRIGATION'].isin(bypass_list)), '0.125', little_cc['IRRIGATION'])

little_cc['SPILL'] = np.where((little_cc['SPILL'].isin(bypass_list)), '0.125', little_cc['SPILL'])

little_cc['FISH'] = np.where((little_cc['FISH'].isin(bypass_list)), '0.125', little_cc['FISH'])

In [26]:
#clear out "in system", set all to 0
little_cc['IRRIGATION'] = np.where((little_cc['IRRIGATION'].isin(in_system_list)), '0', little_cc['IRRIGATION'])
little_cc['SPILL'] = np.where((little_cc['SPILL'].isin(in_system_list)), '0', little_cc['SPILL'])
little_cc['FISH'] = np.where((little_cc['FISH'].isin(in_system_list)), '0', little_cc['FISH'])

#clear frozen entries, set to 0
little_cc['IRRIGATION'] = np.where((little_cc['IRRIGATION'].isin(frozen_list)), '0', little_cc['IRRIGATION'])
little_cc['SPILL'] = np.where((little_cc['SPILL'].isin(frozen_list)), '0', little_cc['SPILL'])
little_cc['FISH'] = np.where((little_cc['FISH'].isin(frozen_list)), '0', little_cc['FISH'])

## Cabin Creek

In [27]:
#cabin creek 
cabin_creek = result_df.loc[result_df['BYPASS_NAME'] == 'CABIN CREEK']

In [28]:
#fill in the random values with 0
cabin_creek = cabin_creek.fillna(0)

#setting each date as a "date" and set a MM-DD
cabin_creek['DATE'] = pd.to_datetime(cabin_creek['DATE'])
cabin_creek['MM-DD'] = cabin_creek['DATE'].dt.strftime('%m-%d')

In [29]:
# clear up the bypassed values
cabin_creek['IRRIGATION'] = np.where((cabin_creek['IRRIGATION'].isin(bypass_list)), '1.0', cabin_creek['IRRIGATION'])

cabin_creek['SPILL'] = np.where((cabin_creek['SPILL'].isin(bypass_list)), '1.0', cabin_creek['SPILL'])

cabin_creek['FISH'] = np.where((cabin_creek['FISH'].isin(bypass_list)), '1.0', cabin_creek['FISH'])

In [30]:
#clear out "in system", set all to 0
cabin_creek['IRRIGATION'] = np.where((cabin_creek['IRRIGATION'].isin(in_system_list)), '0', cabin_creek['IRRIGATION'])
cabin_creek['SPILL'] = np.where((cabin_creek['SPILL'].isin(in_system_list)), '0', cabin_creek['SPILL'])
cabin_creek['FISH'] = np.where((cabin_creek['FISH'].isin(in_system_list)), '0', cabin_creek['FISH'])

#clear frozen entries, set to 0
cabin_creek['IRRIGATION'] = np.where((cabin_creek['IRRIGATION'].isin(frozen_list)), '0', cabin_creek['IRRIGATION'])
cabin_creek['SPILL'] = np.where((cabin_creek['SPILL'].isin(frozen_list)), '0', cabin_creek['SPILL'])
cabin_creek['FISH'] = np.where((cabin_creek['FISH'].isin(frozen_list)), '0', cabin_creek['FISH'])

## Trial Creek

In [31]:
#cabin creek 
trail_creek = result_df.loc[result_df['BYPASS_NAME'] == 'TRAIL CREEK']

In [32]:
#fill in the random values with 0
trail_creek = trail_creek.fillna(0)

#setting each date as a "date" and set a MM-DD
trail_creek['DATE'] = pd.to_datetime(trail_creek['DATE'])
trail_creek['MM-DD'] = trail_creek['DATE'].dt.strftime('%m-%d')

In [33]:
trail_creek

            DATE CODE  BYPASS_NAME IRRIGATION SPILL    FISH  MM-DD
12    1996-01-01   FR  TRAIL CREEK          0     0       0  01-01
26    1996-01-02   FR  TRAIL CREEK          0     0       0  01-02
40    1996-01-03   FR  TRAIL CREEK          0     0       0  01-03
54    1996-01-04   FR  TRAIL CREEK          0     0       0  01-04
68    1996-01-05   FR  TRAIL CREEK          0     0       0  01-05
...          ...  ...          ...        ...   ...     ...    ...
35628 2021-03-28   FR  TRAIL CREEK          0     0  bypass  03-28
35642 2021-03-29   FR  TRAIL CREEK          0     0  bypass  03-29
35656 2021-03-30   FR  TRAIL CREEK          0     0  bypass  03-30
35670 2021-03-31   FR  TRAIL CREEK          0     0  bypass  03-31
35684 2021-04-01   FR  TRAIL CREEK          0     0  bypass  04-01

[9105 rows x 7 columns]

In [34]:
# clear up the bypassed values
#trail_creek['IRRIGATION'] = np.where(trail_creek['IRRIGATION'].isin(bypass_list)), '0.125', (trail_creek['IRRIGATION'])

trail_creek['SPILL'] = np.where((trail_creek['SPILL'].isin(bypass_list)), '0.125', trail_creek['SPILL'])

trail_creek['FISH'] = np.where((trail_creek['FISH'].isin(bypass_list)), '0.125', trail_creek['FISH'])

In [35]:
#clear out "in system", set all to 0
trail_creek['IRRIGATION'] = np.where((trail_creek['IRRIGATION'].isin(in_system_list)), '0', trail_creek['IRRIGATION'])
trail_creek['SPILL'] = np.where((trail_creek['SPILL'].isin(in_system_list)), '0', trail_creek['SPILL'])
trail_creek['FISH'] = np.where((trail_creek['FISH'].isin(in_system_list)), '0', trail_creek['FISH'])

#clear frozen entries, set to 0
trail_creek['IRRIGATION'] = np.where((trail_creek['IRRIGATION'].isin(frozen_list)), '0', trail_creek['IRRIGATION'])
trail_creek['SPILL'] = np.where((trail_creek['SPILL'].isin(frozen_list)), '0', trail_creek['SPILL'])
trail_creek['FISH'] = np.where((trail_creek['FISH'].isin(frozen_list)), '0', trail_creek['FISH'])

In [36]:
#trail_creek['IRRIGATION'] = np.where(trail_creek['IRRIGATION'].isin(bypass_list)), '0.125', (trail_creek['IRRIGATION'])

In [37]:
trail_creek.loc[trail_creek['IRRIGATION'].isin(bypass_list)]

Empty DataFrame
Columns: [DATE, CODE, BYPASS_NAME, IRRIGATION, SPILL, FISH, MM-DD]
Index: []

In [38]:
trail_creek.dtypes

DATE           datetime64[ns]
CODE                   object
BYPASS_NAME            object
IRRIGATION             object
SPILL                  object
FISH                   object
MM-DD                  object
dtype: object

## Hurd Creek

In [39]:
#cabin creek 
hurd_creek = result_df.loc[result_df['BYPASS_NAME'] == 'HURD CREEK']

In [40]:
#fill in the random values with 0
hurd_creek = hurd_creek.fillna(0)

#setting each date as a "date" and set a MM-DD
hurd_creek['DATE'] = pd.to_datetime(hurd_creek['DATE'])
hurd_creek['MM-DD'] = hurd_creek['DATE'].dt.strftime('%m-%d')

In [41]:
# clear up the bypassed values
hurd_creek['IRRIGATION'] = np.where((hurd_creek['IRRIGATION'].isin(bypass_list)), '0.5', hurd_creek['IRRIGATION'])

hurd_creek['SPILL'] = np.where((hurd_creek['SPILL'].isin(bypass_list)), '0.5', hurd_creek['SPILL'])

hurd_creek['FISH'] = np.where((hurd_creek['FISH'].isin(bypass_list)), '0.5', hurd_creek['FISH'])

In [42]:
#clear out "in system", set all to 0
hurd_creek['IRRIGATION'] = np.where((hurd_creek['IRRIGATION'].isin(in_system_list)), '0', hurd_creek['IRRIGATION'])
hurd_creek['SPILL'] = np.where((hurd_creek['SPILL'].isin(in_system_list)), '0', hurd_creek['SPILL'])
hurd_creek['FISH'] = np.where((hurd_creek['FISH'].isin(in_system_list)), '0', hurd_creek['FISH'])

#clear frozen entries, set to 0
hurd_creek['IRRIGATION'] = np.where((hurd_creek['IRRIGATION'].isin(frozen_list)), '0', hurd_creek['IRRIGATION'])
hurd_creek['SPILL'] = np.where((hurd_creek['SPILL'].isin(frozen_list)), '0', hurd_creek['SPILL'])
hurd_creek['FISH'] = np.where((hurd_creek['FISH'].isin(frozen_list)), '0', hurd_creek['FISH'])

## Elk Creek

In [43]:
#elk creek 
elk_creek = result_df.loc[result_df['BYPASS_NAME'] == 'ELK CREEK']

In [44]:
#fill in the random values with 0
elk_creek = elk_creek.fillna(0)

#setting each date as a "date" and set a MM-DD
elk_creek['DATE'] = pd.to_datetime(elk_creek['DATE'])
elk_creek['MM-DD'] = elk_creek['DATE'].dt.strftime('%m-%d')

In [45]:
# clear up the bypassed values
elk_creek['IRRIGATION'] = np.where((elk_creek['IRRIGATION'].isin(bypass_list)), '0.125', elk_creek['IRRIGATION'])

elk_creek['SPILL'] = np.where((elk_creek['SPILL'].isin(bypass_list)), '0.125', elk_creek['SPILL'])

elk_creek['FISH'] = np.where((elk_creek['FISH'].isin(bypass_list)), '1.0', elk_creek['FISH'])

In [46]:
#clear out "in system", set all to 0
elk_creek['IRRIGATION'] = np.where((elk_creek['IRRIGATION'].isin(in_system_list)), '0', elk_creek['IRRIGATION'])
elk_creek['SPILL'] = np.where((elk_creek['SPILL'].isin(in_system_list)), '0', elk_creek['SPILL'])
elk_creek['FISH'] = np.where((elk_creek['FISH'].isin(in_system_list)), '0', elk_creek['FISH'])

#clear frozen entries, set to 0
elk_creek['IRRIGATION'] = np.where((elk_creek['IRRIGATION'].isin(frozen_list)), '0', elk_creek['IRRIGATION'])
elk_creek['SPILL'] = np.where((elk_creek['SPILL'].isin(frozen_list)), '0', elk_creek['SPILL'])
elk_creek['FISH'] = np.where((elk_creek['FISH'].isin(frozen_list)), '0', elk_creek['FISH'])

## Hamilton Creek

In [47]:
#little vasquez 
ham_creek = result_df.loc[result_df['BYPASS_NAME'] == 'HAMILTON CREEK']

In [48]:
#fill in the random values with 0
ham_creek = ham_creek.fillna(0)

#setting each date as a "date" and set a MM-DD
ham_creek['DATE'] = pd.to_datetime(ham_creek['DATE'])
ham_creek['MM-DD'] = ham_creek['DATE'].dt.strftime('%m-%d')

In [49]:
#hamilton timeframe
hamilton_timeframe = ['05-01','05-02','05-03','05-04','05-05','05-06','05-07','05-08','05-09','05-10', '05-11','05-12','05-13','05-14','05-15','05-16','05-17','05-18','05-19','05-20','05-21','05-22','05-23','05-24','05-25','05-26','05-27','05-28','05-29','05-30','05-31','06-01','06-02','06-03','06-04','06-05','06-06','06-07','06-08','06-09','06-10','06-11','06-12','06-13','06-14']

# clear up the bypassed values
ham_creek['IRRIGATION'] = np.where((ham_creek['IRRIGATION'].isin(bypass_list)) & (ham_creek['MM-DD'].isin(hamilton_timeframe)), '0.5', ham_creek['IRRIGATION'])

ham_creek['SPILL'] = np.where((ham_creek['SPILL'].isin(bypass_list)) & (ham_creek['MM-DD'].isin(hamilton_timeframe)), '0.5', ham_creek['SPILL'])

ham_creek['FISH'] = np.where((ham_creek['FISH'].isin(bypass_list)) & (ham_creek['MM-DD'].isin(hamilton_timeframe)), '0.5', ham_creek['FISH'])

In [50]:
#irrigation bypasses
ham_creek['IRRIGATION'] = np.where((ham_creek['IRRIGATION'].isin(bypass_list)), '1.5', ham_creek['IRRIGATION'])

#spill bypasses
ham_creek['SPILL'] = np.where((ham_creek['SPILL'].isin(bypass_list)), '1.5', ham_creek['SPILL'])

#fish bypasses
ham_creek['FISH'] = np.where((ham_creek['FISH'].isin(bypass_list)), '1.5', ham_creek['FISH'])

In [51]:
#clear out "in system", set all to 0
ham_creek['IRRIGATION'] = np.where((ham_creek['IRRIGATION'].isin(in_system_list)), '0', ham_creek['IRRIGATION'])
ham_creek['SPILL'] = np.where((ham_creek['SPILL'].isin(in_system_list)), '0', ham_creek['SPILL'])
ham_creek['FISH'] = np.where((ham_creek['FISH'].isin(in_system_list)), '0', ham_creek['FISH'])

#clear frozen entries, set to 0
ham_creek['IRRIGATION'] = np.where((ham_creek['IRRIGATION'].isin(frozen_list)), '0', ham_creek['IRRIGATION'])
ham_creek['SPILL'] = np.where((ham_creek['SPILL'].isin(frozen_list)), '0', ham_creek['SPILL'])
ham_creek['FISH'] = np.where((ham_creek['FISH'].isin(frozen_list)), '0', ham_creek['FISH'])

## Meadow Creek Res

In [52]:
#meadow creek
m_creek = result_df.loc[result_df['BYPASS_NAME'] == 'MEADOW CREEK']

In [53]:
#fill in the random values with 0
m_creek = m_creek.fillna(0)

#setting each date as a "date" and set a MM-DD
m_creek['DATE'] = pd.to_datetime(m_creek['DATE'])
m_creek['MM-DD'] = m_creek['DATE'].dt.strftime('%m-%d')

In [54]:
mc_timeframe = ['04-01','04-02','04-03','04-04','04-05','04-06','04-07','04-08','04-09','04-10','04-11','04-12','04-13','04-14','04-14','04-15','04-16','04-17','04-18','04-19','04-20','04-21','04-22','04-23','04-24','04-25','04-26','04-27','04-28','04-29','04-30']

In [55]:
# clear up the bypassed values
m_creek['IRRIGATION'] = np.where((m_creek['IRRIGATION'].isin(bypass_list)) & (m_creek['MM-DD'].isin(mc_timeframe)), '0.75', m_creek['IRRIGATION'])

m_creek['SPILL'] = np.where((m_creek['SPILL'].isin(bypass_list)) & (m_creek['MM-DD'].isin(mc_timeframe)), '0.75', m_creek['SPILL'])

m_creek['FISH'] = np.where((m_creek['FISH'].isin(bypass_list)) & (m_creek['MM-DD'].isin(mc_timeframe)), '0.75', m_creek['FISH'])

In [56]:
#irrigation bypasses
m_creek['IRRIGATION'] = np.where((m_creek['IRRIGATION'].isin(bypass_list)), '1.5', m_creek['IRRIGATION'])

#spill bypasses
m_creek['SPILL'] = np.where((m_creek['SPILL'].isin(bypass_list)), '1.5', m_creek['SPILL'])

#fish bypasses
m_creek['FISH'] = np.where((m_creek['FISH'].isin(bypass_list)), '1.5', m_creek['FISH'])

In [57]:
#clear out "in system", set all to 0
m_creek['IRRIGATION'] = np.where((m_creek['IRRIGATION'].isin(in_system_list)), '0', m_creek['IRRIGATION'])
m_creek['SPILL'] = np.where((m_creek['SPILL'].isin(in_system_list)), '0', m_creek['SPILL'])
m_creek['FISH'] = np.where((m_creek['FISH'].isin(in_system_list)), '0', m_creek['FISH'])

#clear frozen entries, set to 0
m_creek['IRRIGATION'] = np.where((m_creek['IRRIGATION'].isin(frozen_list)), '0', m_creek['IRRIGATION'])
m_creek['SPILL'] = np.where((m_creek['SPILL'].isin(frozen_list)), '0', m_creek['SPILL'])
m_creek['FISH'] = np.where((m_creek['FISH'].isin(frozen_list)), '0', m_creek['FISH'])

## St Louis Creek

In [58]:
#meadow creek
sl_creek = result_df.loc[result_df['BYPASS_NAME'] == 'ST LOUIS CREEK']

In [59]:
#fill in the random values with 0
sl_creek = sl_creek.fillna(0)

#setting each date as a "date" and set a MM-DD
sl_creek['DATE'] = pd.to_datetime(sl_creek['DATE'])
sl_creek['MM-DD'] = sl_creek['DATE'].dt.strftime('%m-%d')

In [60]:
# clear up the bypassed values
sl_creek['IRRIGATION'] = np.where((sl_creek['IRRIGATION'].isin(bypass_list)) & (sl_creek['MM-DD'].isin(timeframe)), '5.0', sl_creek['IRRIGATION'])

sl_creek['SPILL'] = np.where((sl_creek['SPILL'].isin(bypass_list)) & (sl_creek['MM-DD'].isin(timeframe)), '5.0', sl_creek['SPILL'])

sl_creek['FISH'] = np.where((sl_creek['FISH'].isin(bypass_list)) & (sl_creek['MM-DD'].isin(timeframe)), '5.0', sl_creek['FISH'])

In [61]:
#irrigation bypasses
sl_creek['IRRIGATION'] = np.where((sl_creek['IRRIGATION'].isin(bypass_list)), '1.5', sl_creek['IRRIGATION'])

#spill bypasses
sl_creek['SPILL'] = np.where((sl_creek['SPILL'].isin(bypass_list)), '1.5', sl_creek['SPILL'])

#fish bypasses
sl_creek['FISH'] = np.where((sl_creek['FISH'].isin(bypass_list)), '1.5', sl_creek['FISH'])

In [62]:
#clear out "in system", set all to 0
sl_creek['IRRIGATION'] = np.where((sl_creek['IRRIGATION'].isin(in_system_list)), '0', sl_creek['IRRIGATION'])
sl_creek['SPILL'] = np.where((sl_creek['SPILL'].isin(in_system_list)), '0', sl_creek['SPILL'])
sl_creek['FISH'] = np.where((sl_creek['FISH'].isin(in_system_list)), '0', sl_creek['FISH'])

#clear frozen entries, set to 0
sl_creek['IRRIGATION'] = np.where((sl_creek['IRRIGATION'].isin(frozen_list)), '0', sl_creek['IRRIGATION'])
sl_creek['SPILL'] = np.where((sl_creek['SPILL'].isin(frozen_list)), '0', sl_creek['SPILL'])
sl_creek['FISH'] = np.where((sl_creek['FISH'].isin(frozen_list)), '0', sl_creek['FISH'])

## Fraser River

In [63]:
#fraser river
fraser_river = result_df.loc[result_df['BYPASS_NAME'] == 'FRASER RIVER']

In [64]:
#fill in the random values with 0
fraser_river = fraser_river.fillna(0)

#setting each date as a "date" and set a MM-DD
fraser_river['DATE'] = pd.to_datetime(fraser_river['DATE'])
fraser_river['MM-DD'] = fraser_river['DATE'].dt.strftime('%m-%d')

In [65]:
# clear up the bypassed values
fraser_river['IRRIGATION'] = np.where((fraser_river['IRRIGATION'].isin(bypass_list)) & (fraser_river['MM-DD'].isin(timeframe)), '5.0', fraser_river['IRRIGATION'])

fraser_river['SPILL'] = np.where((fraser_river['SPILL'].isin(bypass_list)) & (fraser_river['MM-DD'].isin(timeframe)), '5.0', fraser_river['SPILL'])

fraser_river['FISH'] = np.where((fraser_river['FISH'].isin(bypass_list)) & (fraser_river['MM-DD'].isin(timeframe)), '5.0', fraser_river['FISH'])

In [66]:
#irrigation bypasses
fraser_river['IRRIGATION'] = np.where((fraser_river['IRRIGATION'].isin(bypass_list)), '2.0', fraser_river['IRRIGATION'])

#spill bypasses
fraser_river['SPILL'] = np.where((fraser_river['SPILL'].isin(bypass_list)), '2.0', fraser_river['SPILL'])

#fish bypasses
fraser_river['FISH'] = np.where((fraser_river['FISH'].isin(bypass_list)), '2.0', fraser_river['FISH'])

In [67]:
#clear out "in system", set all to 0
fraser_river['IRRIGATION'] = np.where((fraser_river['IRRIGATION'].isin(in_system_list)), '0', fraser_river['IRRIGATION'])
fraser_river['SPILL'] = np.where((fraser_river['SPILL'].isin(in_system_list)), '0', fraser_river['SPILL'])
fraser_river['FISH'] = np.where((fraser_river['FISH'].isin(in_system_list)), '0', fraser_river['FISH'])

#clear frozen entries, set to 0
fraser_river['IRRIGATION'] = np.where((fraser_river['IRRIGATION'].isin(frozen_list)), '0', fraser_river['IRRIGATION'])
fraser_river['SPILL'] = np.where((fraser_river['SPILL'].isin(frozen_list)), '0', fraser_river['SPILL'])
fraser_river['FISH'] = np.where((fraser_river['FISH'].isin(frozen_list)), '0', fraser_river['FISH'])

## Ranch Creek

In [68]:
#ranch creek
r_creek = result_df.loc[result_df['BYPASS_NAME'] == 'RANCH CREEK']

In [69]:
#fill in the random values with 0
r_creek = r_creek.fillna(0)

#setting each date as a "date" and set a MM-DD
r_creek['DATE'] = pd.to_datetime(r_creek['DATE'])
r_creek['MM-DD'] = r_creek['DATE'].dt.strftime('%m-%d')

In [70]:
# clear up the bypassed values
r_creek['IRRIGATION'] = np.where((r_creek['IRRIGATION'].isin(bypass_list)) & (r_creek['MM-DD'].isin(timeframe)), '2.0', r_creek['IRRIGATION'])

r_creek['SPILL'] = np.where((r_creek['SPILL'].isin(bypass_list)) & (r_creek['MM-DD'].isin(timeframe)), '2.0', r_creek['SPILL'])

r_creek['FISH'] = np.where((r_creek['FISH'].isin(bypass_list)) & (r_creek['MM-DD'].isin(timeframe)), '2.0', r_creek['FISH'])

In [71]:
#irrigation bypasses
r_creek['IRRIGATION'] = np.where((r_creek['IRRIGATION'].isin(bypass_list)), '1.0', r_creek['IRRIGATION'])

#spill bypasses
r_creek['SPILL'] = np.where((r_creek['SPILL'].isin(bypass_list)), '1.0', r_creek['SPILL'])

#fish bypasses
r_creek['FISH'] = np.where((r_creek['FISH'].isin(bypass_list)), '1.5', r_creek['FISH'])

In [72]:
#clear out "in system", set all to 0
r_creek['IRRIGATION'] = np.where((r_creek['IRRIGATION'].isin(in_system_list)), '0', r_creek['IRRIGATION'])
r_creek['SPILL'] = np.where((r_creek['SPILL'].isin(in_system_list)), '0', r_creek['SPILL'])
r_creek['FISH'] = np.where((r_creek['FISH'].isin(in_system_list)), '0', r_creek['FISH'])

#clear frozen entries, set to 0
r_creek['IRRIGATION'] = np.where((r_creek['IRRIGATION'].isin(frozen_list)), '0', r_creek['IRRIGATION'])
r_creek['SPILL'] = np.where((r_creek['SPILL'].isin(frozen_list)), '0', r_creek['SPILL'])
r_creek['FISH'] = np.where((r_creek['FISH'].isin(frozen_list)), '0', r_creek['FISH'])

## Bringing all datasets together in 1 Dataframe

In [73]:
frames_final = [trail_creek,r_creek,fraser_river,ham_creek,hurd_creek,cabin_creek,little_cc,elk_creek,sl_creek,m_creek,big_vasquez,little_vasquez]
result_df_cleaned = pd.concat(frames_final)

In [76]:
from pathlib import Path

result_df_cleaned.to_excel('fraser_cleaned.xlsx')