## Filling in missing data for nutrient concentrations

In [1]:
# import the necessary packages 
import pandas as pd
import seaborn as sb
import numpy as np
import matplotlib as mb
from scipy.interpolate import pchip
import matplotlib.pyplot as plt

In [2]:
#import nutrient missing data files
#10/13/2019 - 6/30/2022

ms_above_conf_nut = pd.read_csv(r'/Users/maanavjhatakia/Documents/Python.nosync/geosmin/nut_ms_above_conf_daily.csv')
upstream_strontia_nut = pd.read_csv(r'/Users/maanavjhatakia/Documents/Python.nosync/geosmin/nut_upstream_strontia_daily.csv')
nf_above_conf_nut = pd.read_csv(r'/Users/maanavjhatakia/Documents/Python.nosync/geosmin/nut_nf_above_conf_daily.csv')
sp_below_chat_nut = pd.read_csv(r'/Users/maanavjhatakia/Documents/Python.nosync/geosmin/nut_sp_below_chat_daily.csv')
downstream_strontia_nut = pd.read_csv(r'/Users/maanavjhatakia/Documents/Python.nosync/geosmin/nut_downstream_strontia_daily.csv')

In [3]:
#ms_above_conf_nut interpolation
#first do polynomial, 2nd order, and then fill the rest with linear regressions

ms_above_conf_nut = ms_above_conf_nut.interpolate(method = 'pchip')

In [4]:
ms_above_conf_nut = ms_above_conf_nut.interpolate(method='linear')

In [5]:
ms_above_conf_nut

         Date       TOC        TP  Turbidity
0     10/3/19  3.900000  0.015000   0.880000
1     10/4/19  3.856277  0.014043   0.858138
2     10/5/19  3.813845  0.013127   0.836923
3     10/6/19  3.772691  0.012252   0.816346
4     10/7/19  3.732799  0.011417   0.796399
...       ...       ...       ...        ...
997   6/26/22  3.665890  0.017582   1.271363
998   6/27/22  3.672687  0.017566   1.262980
999   6/28/22  3.679496  0.017549   1.254653
1000  6/29/22  3.686318  0.017533   1.246381
1001  6/30/22  3.693153  0.017516   1.238163

[1002 rows x 4 columns]

In [6]:
ms_above_conf_nut = ms_above_conf_nut.rename(columns={'Adjust. TOC':'Adjusted TOC, MS Above Conf.','Adjust. TP':'Adjusted TP, MS Above Conf.','Adjust. Turb':'Adjusted turbidity, MS Above Conf.'})

In [7]:
ms_above_conf_nut.to_csv('nut_ms_above_conf_filled.csv',index = False)

In [8]:
#upstream_strontia_nut interpolation
upstream_strontia_nut = upstream_strontia_nut.interpolate(method='pchip')

In [9]:
upstream_strontia_nut = upstream_strontia_nut.interpolate(method = 'linear')

In [10]:
upstream_strontia_nut

         Date  Adjusted TOC  Adjusted TP  Adjusted Turb
0     10/3/19      2.700000     0.012000       1.300000
1     10/4/19      2.668095     0.011545       1.300000
2     10/5/19      2.637577     0.011097       1.300000
3     10/6/19      2.608415     0.010654       1.300000
4     10/7/19      2.580579     0.010218       1.300000
...       ...           ...          ...            ...
997   6/26/22      3.000715     0.009632       5.658130
998   6/27/22      3.020314     0.009394       5.715335
999   6/28/22      3.040042     0.009162       5.773119
1000  6/29/22      3.059898     0.008936       5.831487
1001  6/30/22      3.079884     0.008715       5.890446

[1002 rows x 4 columns]

In [11]:
upstream_strontia_nut = upstream_strontia_nut.rename(columns={'Adjusted TOC':'Adjusted TOC, Upstream Strontia','Adjusted TP':'Adjusted TP, Upstream Strontia','Adjusted Turb':'Adjusted turbidity, Upstream Strontia'})

In [12]:
upstream_strontia_nut.to_csv('nut_upstream_strontia_filled.csv',index = False)

In [13]:
#nf_above_conf_nut interpolation
nf_above_conf_nut = nf_above_conf_nut.interpolate(method = 'pchip')

In [14]:
nf_above_conf_nut = nf_above_conf_nut.interpolate(method = 'linear')

In [15]:
nf_above_conf_nut

         Date  Adjust. TOC  Adjust. TP  Adjust. Turb
0     10/3/19     2.200000    0.000000      1.800000
1     10/4/19     2.199746    0.000000      1.806381
2     10/5/19     2.198991    0.000000      1.812485
3     10/6/19     2.197742    0.000000      1.818317
4     10/7/19     2.196010    0.000000      1.823884
...       ...          ...         ...           ...
998   6/27/22     1.386207    0.023010      4.194845
999   6/28/22     1.389655    0.023254      4.383081
1000  6/29/22     1.393103    0.023500      4.579763
1001  6/30/22     1.396552    0.023749      4.785270
1002      NaN     1.400000    0.024000      5.000000

[1003 rows x 4 columns]

In [16]:
nf_above_conf_nut = nf_above_conf_nut.rename(columns={'Adjust. TOC':'Adjusted TOC, NF Above Conf.','Adjust. TP':'Adjusted TP, NF Above Conf.','Adjust. Turb':'Adjusted turbidity, NF Above Conf.'})

In [17]:
nf_above_conf_nut.to_csv('nut_nf_above_conf_filled.csv', index = False)

In [18]:
#sp_below_chatfield_nut interpolation
sp_below_chat_nut = sp_below_chat_nut.interpolate(method = 'pchip')

In [19]:
sp_below_chat_nut = sp_below_chat_nut.interpolate(method = 'linear')

In [20]:
sp_below_chat_nut

         Date  Adjust. TOC  Adjust. TP  Adjust. Turb
0     10/3/19     3.800000    0.019000      7.400000
1     10/4/19     3.851048    0.019004      7.049616
2     10/5/19     3.899877    0.019015      6.712454
3     10/6/19     3.946536    0.019034      6.388265
4     10/7/19     3.991074    0.019060      6.076802
...       ...          ...         ...           ...
997   6/26/22     4.041623    0.065192      8.172341
998   6/27/22     4.043297    0.069535      8.422129
999   6/28/22     4.044972    0.074167      8.679552
1000  6/29/22     4.046647    0.079108      8.944844
1001  6/30/22     4.048323    0.084379      9.218244

[1002 rows x 4 columns]

In [21]:
sp_below_chat_nut = sp_below_chat_nut.rename(columns={'Adjust. TOC':'Adjusted TOC, SP Below Chatfield','Adjust. TP':'Adjusted TP, SP Below Chatfield','Adjust. Turb':'Adjusted turbidity, SP Below Chatfield'})

In [22]:
sp_below_chat_nut.to_csv('nut_sp_below_chat_filled.csv', index = False)

In [23]:
#downstream strontia_nut interpolation
downstream_strontia_nut = downstream_strontia_nut.interpolate(method = 'pchip')

In [24]:
downstream_strontia_nut = downstream_strontia_nut.interpolate(method = 'linear')

In [25]:
downstream_strontia_nut

         Date  Adjust. TOC  Adjust. TP  Adjust. Turb
0     10/3/19     2.800000    0.000000      2.500000
1     10/4/19     2.750444    0.000925      2.475848
2     10/5/19     2.702975    0.001809      2.451921
3     10/6/19     2.657550    0.002654      2.428217
4     10/7/19     2.614123    0.003461      2.404735
...       ...          ...         ...           ...
997   6/26/22     2.613281    0.016824      2.379386
998   6/27/22     2.569160    0.017053      2.331630
999   6/28/22     2.525783    0.017285      2.284832
1000  6/29/22     2.483140    0.017520      2.238974
1001  6/30/22     2.441216    0.017758      2.194036

[1002 rows x 4 columns]

In [26]:
downstream_strontia_nut = downstream_strontia_nut.rename(columns={'Adjust. TOC':'Adjusted TOC, Downstream Strontia','Adjust. TP':'Adjusted TP, Downstream Strontia','Adjust. Turb':'Adjusted turbidity, Downstream Strontia'})

In [27]:
downstream_strontia_nut.to_csv('nut_downstream_strontia_filled.csv', index = False)

## Water Temperature Interpolations

In [28]:
#import datasets to be filled for each point of interest
#all updated to 6/30/22

#nf above confluence
nf_above_conf_temp = pd.read_csv(r'/Users/maanavjhatakia/Documents/Python.nosync/geosmin/nf_above_conf_water_temp.csv')

#ms above confluence
ms_above_conf_temp = pd.read_csv(r'/Users/maanavjhatakia/Documents/Python.nosync/geosmin/ms_above_conf_water_temp.csv')

#upstream strontia
upstream_strontia_temp = pd.read_csv(r'/Users/maanavjhatakia/Documents/Python.nosync/geosmin/up_strontia_water_temp.csv')

#downstream strontia
downstream_strontia_temp = pd.read_csv(r'/Users/maanavjhatakia/Documents/Python.nosync/geosmin/ds_strontia_water_temp.csv')

#sp below chatfield
sp_below_chat_temp = pd.read_csv(r'/Users/maanavjhatakia/Documents/Python.nosync/geosmin/sp_bel_chat_water_temp.csv')

In [29]:
#fill in missing data with a polynomial trend of order 2 between 1st of each month
nf_above_conf_temp = nf_above_conf_temp.interpolate(method='polynomial', order = 2)
ms_above_conf_temp = ms_above_conf_temp.interpolate(method='polynomial', order =2)
upstream_strontia_temp = upstream_strontia_temp.interpolate(method = 'polynomial', order = 2)
downstream_strontia_temp = downstream_strontia_temp.interpolate(method = 'polynomial', order = 2)
sp_below_chat_temp = sp_below_chat_temp.interpolate(method = 'polynomial',order = 2)

In [30]:
#save dataframe to csv file to ease merging
nf_above_conf_temp.to_csv('nf_above_conf_temp_filled.csv', index = False)
ms_above_conf_temp.to_csv('ms_above_conf_temp_filled.csv', index = False)
upstream_strontia_temp.to_csv('upstream_strontia_temp_filled.csv', index = False)
downstream_strontia_temp.to_csv('downstream_strontia_temp_filled.csv', index = False)
sp_below_chat_temp.to_csv('sp_below_chat_temp_filled.csv', index = False)